---
import { site } from "../site";
---
<nav>
<p class="nav-logo">{site.title}</p>
  <div>
<a target="_blank" href={site.subscription_link} class="primary">Subscribe</a>
    <a target="_blank" href={site.call_link} class="secondary">Schedule a call</a>
  </div>
</nav>
